<section class="m-1 text-dark row " >
    <h2>Add New Employee Details</h2>
    <!-- <form #frm ="ngForm" (ngSubmit)="addEmployee(emp)" > -->
        
    <div class="text-primary" *ngIf="msg != undefined">{{msg}} </div>
    <div class="text-danger" *ngIf="errorMsg != undefined" >{{errorMsg}} </div>
    <form #frm ="ngForm">
        <div class="">Employee Id</div>
        <div><input type="number" #eid="ngModel" required name="txteid" [(ngModel)] = "emp.empId " /></div>
        <div *ngIf="eid.invalid && eid.touched" class="text-danger ">Employee Id is required</div>

        <div class="">Employee First Name</div>
        <div><input type="text" #efname="ngModel" required pattern="[a-z]{3,15}" name="txtfname"  [(ngModel)] = "emp.empFName " /></div>
        <div *ngIf="efname.invalid && efname.touched" class="text-danger">Employee first name is required </div>

        <div class="">Employee Last Name</div>
        <div><input type="text" #elname="ngModel" pattern="[a-z]{3,15}" name="txtlname"  [(ngModel)] = "emp.empLName " /></div>
        <div *ngIf="elname.invalid && elname.touched" class="text-danger">Employee last name is required </div>

        <div class="">Employee Designation</div>
        <div><input type="text" #edesignation="ngModel" required pattern="[a-z]{2,15}" name="txtedesignation"  [(ngModel)] = "emp.empDesignation " /></div>
        <div *ngIf="edesignation.invalid && edesignation.touched" class="text-danger">Employee designation is required </div>

        <div class="">Employee Manager</div>
        <div><input type="text" #epmanager="ngModel" required pattern="[a-z]{3,15}" name="txtepmanager"  [(ngModel)] = "emp.empPManager " /></div>
        <div *ngIf="epmanager.invalid && epmanager.touched" class="text-danger">Employee Project Manager is required </div>


        <div class="">Employee Project</div>
        <div><input type="text" #project="ngModel" required pattern="[a-z]{3,15}" name="txtproject"  [(ngModel)] = "emp.empProject " /></div>
        <!-- <div *ngIf="empProject.invalid && empProject.touched" class="text-danger">Employee Project is required </div> -->

        <!-- <div><input type="submit"value="add employeee" (click)="empService.addEmployee(emp)" /></div> -->
        <div><input class="bg-info dark m-4 p-2 text-dark" type="button" value="Add Employee" [disabled]="!frm.valid" (click)="addEmployee(emp)" /></div>

        <!-- <div><input type="button" value="add employeee" [disabled]="!frm.valid"  /></div> -->
    </form>
</section>