<div class="container ">

  <div class="row">

    <div class="col-md-6">
      <div>
        <img src="https://raw.githubusercontent.com/prajyotrh/Multi-User-Login-System/0a0cadbeb9bcd2b82e6ec4360b9a12e93f4f55ee/Front%20end%20(Angular)/src/assets/login_img.svg" alt="">
      </div>
        
    </div>
    <div class="col-md-6">
      <div class=" text-dark">
        Username : <input type="text" name="username" [(ngModel)]="username">
        <br/>
        <br/>
        <br/>
        Password : <input type="password" name="password" [(ngModel)]="password">
      </div>
      <div class="text-danger m-2 p-2" *ngIf="msg != undefined">{{msg}} </div>
      <br/>
        <br/>
      <button (click)=checkLogin() class="btn btn-success btn-md float-right float-right ">
        Login
      </button>
    </div>

  </div>




   
  </div>
