<section class="">
<section class="header">
<header class=" text-dark">
  <h1 class="text-center ">Employee Management</h1>
</header>
<nav class="" maxHeight="200" id="div_top_hypers">
  <ul class="nav-link" id="ul_top_hypers">
    <li><a *ngIf="loginService.isUserLoggedIn()" class="a_top_hypers m-4 p-4" routerLink = "/view">  View Employee </a></li>
  <!-- <a *ngIf="loginService.isUserLoggedIn()" class="m-2 text-white center h5" routerLink = "/add">Add Employee</a> -->
  <li><a *ngIf="loginService.isUserLoggedIn()" class="a_top_hypers m-4 p-4" routerLink = "/add">   Add Employee  </a></li>
  <li><a *ngIf="!loginService.isUserLoggedIn()" class="a_top_hypers m-4 p-4" routerLink = "/login">  Login </a></li>
  <li><a *ngIf="loginService.isUserLoggedIn()" class=" a_top_hypers m-4 p-4" routerLink = "/logout">  Logout  </a></li>
  </ul>
  </nav>
</section >
<article class="col-8 mx-auto  text-white" >
  <router-outlet ></router-outlet>
</article>
<app-footer></app-footer>
</section>