<section class=" text-dark row">
    <h2>Edit Employee Details</h2>
      
    <div class="text-primary ">{{msg}} </div>
    <div class="" *ngIf="!genFlag; else elseBlock">
        <!-- <div> -->
                <!-- <img  src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-1/128/29-512.png" alt="Card image cap"> -->
            <!-- </div> -->
            <div>
                <img style="width: 200px; margin-left: 40px; height: 150px;" src="../../assets/admin-image-png-5.png" alt="Card image cap">
            </div>
            </div>
    <form #frm ="ngForm">

        <tbody>


            <th><div class=""> Employee Id</div></th>
            <th><div class=""> First Name</div></th>
            <th><div class=""> Last Name</div></th>
            
            <th><div class=""> Designation</div></th>
            <th><div class=""> Manager</div></th>
            <th><div class=""> Project</div></th>
            

            <tr>
            <td>
            <div><input type="number" #eid="ngModel"  name="txteid" [(ngModel)] = "emp.empId " readonly /></div>
            <!-- <div *ngIf="eid.invalid && eid.touched " class="text-danger">Employee Id is required</div> --></td>
            
            <td>
            <div><input type="text" #efname="ngModel" required name="txtfname"  [(ngModel)] = "emp.empFName " /></div>
            <div *ngIf="efname.invalid && efname.touched" class="text-danger">Employee first name is required </div></td>
            
            <td>
            <div><input type="text" #elname="ngModel" required name="txtlname"  [(ngModel)] = "emp.empLName " /></div>
            <div *ngIf="elname.invalid && elname.touched" class="text-danger">Employee last name is required </div></td>

           
            
            <td>
            <div><input type="text" #edesignation="ngModel" required name="txtedesignation"  [(ngModel)] = "emp.empDesignation " /></div>
            <div *ngIf="edesignation.invalid && edesignation.touched" class="text-danger">Employee designation is required </div></td>
            
            <td>
            <div><input type="text" #epmanager="ngModel"  pattern="[a-z]{3,15}" name="txtepmanager"  [(ngModel)] = "emp.empPManager " /></div>
            <!-- <div *ngIf="epmanager.invalid && epmanager.touched" class="text-danger">Employee Project Manager is required </div> --></td>
            
            <td>
            <div><input type="text" #project="ngModel" required pattern="[a-z]{3,15}" name="txtproject"  [(ngModel)] = "emp.empProject " /></div>
            <!-- <div *ngIf="empProject.invalid && empProject.touched" class="text-danger">Employee Project is required </div> --></td>
        </tr>
            <div class=""><button class=" btn btn-outline-info dark m-4 p-2 text-dark" type="button" value="Edit Employee"  (click)="editEmployee()" >Edit Employee</button> </div>
            
            <!-- <div><input type="button" value="add employeee" [disabled]="!frm.valid"  /></div> -->
        </tbody>
        <th><div class=""> Gender</div></th>
        <td>
            <div>
                <select type="text" #egender="ngModel" required name="gender"  [(ngModel)] = "emp.gender " class="form-select" aria-label="Default select example">
                    <option value="0">male</option>
                    <option value="1">female</option>
                  </select>
                <!-- <input type="text" #egender="ngModel" required name="gender"  [(ngModel)] = "emp.gender " /> -->
            </div>
        </td>

    </form>
</section>